
<div class="content-body" style="max-width: 100% !important;  overflow: hidden;">
        <div class="container m-0" style="max-width: 100% !important;">
                <div class="d-sm-flex align-items-center justify-content-between">
                  <div>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><h4 class="mg-b-0 tx-spacing--1" style="
                          margin-left: 12px;cursor: pointer;" [routerLink]="['/operation-cockpit']">Operation Cockpit</h4></li>
                        <li class="breadcrumb-item active" style="margin-top:2px;">System Workflow Monitor</li>
                    <!--<li class="breadcrumb-item active" aria-current="page">Sales Monitoring</li>-->
                      </ol>
                    </nav>
                    <p class="mg-b-0 tx-spacing--1" style="margin-left:12px">Welcome to System Workflow Monitor</p>
                   
                  </div>
                  
                 
                </div>
                <div class="row row-xs " >
                        <div class="col-12 ">
<iframe width="100%" id="loadExp" height="750px" style="border: none;overflow: hidden;" src="http://3.18.222.128:8000/oc_SystemWorkflowMonitor" ></iframe>
</div>
</div>
</div>
</div>