<div class="content-body" style="max-width: 100% !important;overflow: hidden;">
        <div class="container m-0" style="max-width: 100% !important;">
          <div class="d-sm-flex align-items-center justify-content-between">
            <div>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                  <li class="breadcrumb-item"><h4 class="text-uppercase mg-b-0 tx-spacing--1" style="cursor: pointer;">Value Engineering</h4></li>
                  <!--<li class="breadcrumb-item active" aria-current="page">Sales Monitoring</li>-->
                </ol>
              </nav>
              <p class="mg-b-0 tx-spacing--1">Convert Strategies into Epics, Capabilities, Features and Workflow Use Case</p>
            </div>
          </div>
                  
                 
                </div>
        <div class="row row-xs mt-2 ml-2 mr-2 mb-0" >

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" style="padding:0px 5px 0px 5px">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body" style="padding: 19px !important;">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="tx-uppercase tx-11 tx-spacing-1 text-primary text-uppercase tx-semibold mg-b-8">
                      New</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">15</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" style="padding:0px 5px 0px 5px">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body" style="padding: 13px !important;">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="tx-uppercase tx-11 tx-spacing-1 text-success tx-semibold mg-b-8">
                      Under Review</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">15</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" style="padding:0px 5px 0px 5px">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body" style="padding: 13px !important;">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="tx-uppercase tx-11 tx-spacing-1  text-info tx-semibold mg-b-8 ">
                      Infused
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">32</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" style="padding:0px 5px 0px 5px">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body" style="padding: 13px !important;">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="tx-uppercase tx-11 tx-spacing-1 text-warning tx-semibold mg-b-8 ">
                      On Hold</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">37</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="card shadow mr-2 ml-2 mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Create, Update, Review/Approve Business Value Propositions</h6>
          </div>
          
          <div class="card-body">
              <div class="table-responsive" >
            
               <table class="table table-bordered table-dashboard" id="ValueEngineering_dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dashboard_dataTable_info" style="width: 100%;">
                  <thead>
                      <tr>
                      <th colspan="7">Propositions for value benefit analysis</th>
                      <th colspan="5">Business and Financial Benefit</th>
                  </tr>
                            <tr>
                            <th >Code</th>
                            <th >Epic</th>
                            <th >Feature</th>
                            <th >Capability</th>
                            <th >UseCase</th>
                            <th >Author</th>
                            <th >Date</th>
                            <th >Priority</th>
                            <th >Efficiency</th>
                            <th >Accuracy</th>
                            <th >ValueOfData</th>
                            <th >Timeliness</th>
                        </tr>
                    </thead>
                     </table>
        </div>
        </div>
        <div class="card-header py-3">
          <div class="row">
            <a [routerLink]="['/value-engineering/create-proposition']" class="btn btn-primary btn-icon-split"
              style="margin-left: 20px;margin-right: 20px;">
              <span class="text">Create</span>
            </a>
            <button id="edit" class="btn btn-primary btn-icon-split" style="margin-right: 20px;">
              <span class="text">Edit</span>
            </button>
            <button id="Review" class="btn btn-primary btn-icon-split" style="margin-right: 20px;">
              <span class="text">Review</span>
            </button>
            <button id="Promote" class="btn btn-primary btn-icon-split" style="margin-right: 20px;">
              <span class="text">Promote</span>
            </button>
            <button id="Delete" class="btn btn-danger btn-icon-split" (click)="delectRow($event)" style="margin-right: 20px;">
              <span class="text">Delete</span>
            </button>
          </div>
        </div>
      </div>