<div style="display: block;" style="background: #FFF;">
  
  <!--<video class="videoAdd" autoplay="" loop="" muted="" width="100%" height="100%" >
      <source src="../../assets/img/home-video.mp4" type="video/mp4">
  <header style="overflow: hidden;">
      <div class="row" id="logo-section" >
          <img class="logo-icon" src="../../assets/img/logo.png" style="margin-left: 8px;">
          <div id="logo-text" style="float: right; padding: 0px 0px 30px 0px;">
 div id="name">
              <span style="color: black;">SCENAI</span>
            </div
           
          </div>
        </div>
        </header>-->
    
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-6">

        <div class="card o-hidden border-0  my-5">
          <div class="card-body p-5">
            <!-- Nested Row within Card Body -->
            <div class="row ">
              <!--<div class="col-lg-6 d-none d-lg-block bg-login-image "></div>-->
              <div class="col-lg-12 col-md-12 float-right" style="border-radius: 8px;border: 1px solid #dadce0;">
                <div class="p-5">
                  <div class="text-center ">
                   <h4 class="mb-3">Login to  <span style="color: rgb(41, 145, 196)">Scen</span><span style="color: rgb(170, 0, 0)">AI</span> SaaS Platform</h4>
                  </div>
                 
                  <form class="user " [formGroup]="userForm" (ngSubmit)="onSubmit()" method='post'>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="username" name="username"
                        aria-describedby="emailHelp" placeholder="Enter Username...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" name="password"
                        placeholder="Password">
                    </div>
                    
                        <div class="custom-control custom-checkbox mb-3 ml-2" >
                            <input type="checkbox" class="custom-control-input" id="customCheck1" >
                            <label class="custom-control-label  remme" for="customCheck1"><span>Remember Me</span></label>
                          </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>
                  
                  </form>

                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
      
  </div>
  <p class="text-center fixed-bottom" style="font-size: 13px;"> (c) 2019-2020, <span style="color: rgb(41, 145, 196)">Scen</span><span style="color: rgb(170, 0, 0)">AI</span> Data Science Inc, All Rights Reserved,<a href="www.scenai.com" target="_new"> www.scenai.com</a></p>
 </div>     