<div class="content-body"  style="max-width: 100% !important;">
        <div class="container  m-0" style="max-width: 100% !important;">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                  <div>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><h4 class="text-uppercase mg-b-0 tx-spacing--1" style="cursor: pointer;" [routerLink]="['/value-engineering']">Value Engineering</h4></li>
                        <li class="breadcrumb-item active" style="margin-top: 1px;font-size: 10pt;">Create Proposition</li>

                        <!--<li class="breadcrumb-item active" aria-current="page">Sales Monitoring</li>-->
                      </ol>
                    </nav>
                    <p class="mg-b-0 tx-spacing--1" >Create business value proposition</p>
                  </div>
                </div>
        <!-- Breadcrumb -->
        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Value Engineering</li>
          </ol>
        </nav> -->
        <form id="propositionForm" [formGroup]="propositionForm" (ngSubmit)="onSubmit($event)" method="POST">
          <div class="row">

            <!-- Use Cases -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Use Case</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <label class="col-form-label">Epic</label>
                    </div>
                    <div class="col-sm-4">
                      <select  formControlName="epic" class="select custom-select-sm form-control form-control-sm" name="epic">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="Transaction Automation 1">Transaction Automation 1</option>
                        <option value="Transaction Automation 2">Transaction Automation 2</option>
                        <option value="Transaction Automation 3">Transaction Automation 3</option>
                      </select>
                    </div>
                    <div class="col-sm-4 form-check">
                      <input type="checkbox" [(ngModel)]="keyEnabler" (change)="checkValue(keyEnabler?true:false)" class="form-check-input" name="checkKeyEnabler" formControlName="checkKeyEnabler">
                      <label class="form-check-label">Is this a Key Enabler?</label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <label class="col-form-label">Feature</label>
                    </div>
                    <div class="col-sm-8">
                      <select class="select custom-select-sm form-control form-control-sm" name="feature" formControlName="feature">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="Trans Feature 1">Trans Feature 1</option>
                        <option value="Trans Feature 2">Trans Feature 2</option>
                        <option value="Trans Feature 3">Trans Feature 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <label class="col-form-label">Capability</label>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="capability" placeholder="Capability" formControlName="capability">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <label class="col-form-label">Capability Description</label>
                    </div>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="capabilityDescription"
                        placeholder="Capability Description" formControlName="capabilityDescription"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <label class="col-form-label">Use Case</label>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="useCases" placeholder="Use Case" formControlName="useCases">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <label class="col-form-label">Use Case Description</label>
                    </div>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="useCasesDescription"
                        placeholder="Use Case Description" formControlName="useCasesDescription"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <label class="col-form-label">Dependencies</label>
                    </div>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="dependencies" placeholder="Dependencies" formControlName="dependencies"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-2">
                      <label class="col-form-label">Additional Notes</label>
                    </div>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="additionalNotes" placeholder="Additional Notes"
                        style="height: 86px;" formControlName="additionalNotes"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Business and Financial Benifits -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Business and Financial Benefits</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label class="col-form-label">Priority</label>
                    </div>
                    <div class="col-sm-4">
                      <select class="select custom-select-sm form-control form-control-sm" name="priority" formControlName="priority">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="priorityCost" formControlName="priorityCost" placeholder="in $M USD">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label class="col-form-label">Efficiency</label>
                    </div>
                    <div class="col-sm-4">
                      <select class="select custom-select-sm form-control form-control-sm" name="efficiency" formControlName="efficiency">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="efficiencyCost" formControlName="efficiencyCost" placeholder="in $M USD">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label class="col-form-label">Accuracy</label>
                    </div>
                    <div class="col-sm-4">
                      <select class="select custom-select-sm form-control form-control-sm" name="accuracy" formControlName="accuracy">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="accuracyCost" formControlName="accuracyCost" placeholder="in $M USD">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label class="col-form-label">Value of Data</label>
                    </div>
                    <div class="col-sm-4">
                      <select class="select custom-select-sm form-control form-control-sm" name="valueOfData" formControlName="valueOfData">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="valueOfDataCost" formControlName="valueOfDataCost" placeholder="in $M USD">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label class="col-form-label">Timeliness</label>
                    </div>
                    <div class="col-sm-4">
                      <select class="select custom-select-sm form-control form-control-sm" name="timeliness" formControlName="timeliness">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="timelinessCost" formControlName="timelinessCost" placeholder="in $M USD">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Spend  -->
              <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Spend</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label class="col-form-label">FTE Spend</label>
                    </div>
                    <div class="col-sm-4">
                      <select class="select custom-select-sm form-control form-control-sm" name="fteSpend" formControlName="fteSpend">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="fteSpendCost" formControlName="fteSpendCost" placeholder="in $M USD">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label class="col-form-label">Indemnity Spend</label>
                    </div>
                    <div class="col-sm-4">
                      <select class="select custom-select-sm form-control form-control-sm" name="indemitySpend" formControlName="indemitySpend">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="indemitySpendCost" placeholder="in $M USD" formControlName="indemitySpendCost">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label class="col-form-label">Medical Spend</label>
                    </div>
                    <div class="col-sm-4">
                      <select class="select custom-select-sm form-control form-control-sm" name="medicalSpend" formControlName="medicalSpend">
                        <option data-display="Select" disabled selected>Select</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="medicalSpendCost" placeholder="in $M USD" formControlName="medicalSpendCost">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">System and Process Impact</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="form-group">
                <div class="form-group row">
                  <div class="col-sm-2">
                    <label class="col-form-label">Automation Fitment</label>
                  </div>
                  <div class="col-sm-4">
                    <select class="select custom-select-sm form-control form-control-sm" name="automationFitment" formControlName="automationFitment">
                      <option data-display="Select" disabled selected>Select</option>
                      <option value="High">High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <label class="col-form-label">Automation Complexity</label>
                  </div>
                  <div class="col-sm-4">
                    <select class="select custom-select-sm form-control form-control-sm" name="automationComplexity" formControlName="automationComplexity">
                      <option data-display="Select" disabled selected>Select</option>
                      <option value="High">High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                    </select>
                  </div>
                </div>
                <hr>
                <div class="row" style="padding: 15px;">
                  <table class="table table-bordered" id="sampTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Process</th>
                        <th>Owner</th>
                        <th>System Invloved</th>
                        <th># of Steps</th>
                        <th>Execution Frequency</th>
                        <th>Upgrade</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Claims</td>
                        <td>EWR</td>
                        <td>Claim Center</td>
                        <td>4</td>
                        <td>Daily</td>
                        <td>None</td>
                        <td>
                          <button type="button"  class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#myModal" (click)="showModal()">
                            <i class="fas fa-plus"></i>
                          </button>
                          <button type="button"  class="btn btn-outline-danger btn-sm" (click)="deleteModal()" style="margin-left:2%;">
                            <i class="fas fa-minus "></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Claims</td>
                        <td>EWR</td>
                        <td>Claim Center</td>
                        <td>4</td>
                        <td>Daily</td>
                        <td>None</td>
                        <td>
                          <button type="button"  class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#myModal" (click)="showModal()">
                            <i class="fas fa-plus"></i>
                          </button>
                          <button type="button"  class="btn btn-outline-danger btn-sm"  (click)="deleteModal()" style="margin-left:2%;">
                            <i class="fas fa-minus "></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Claims</td>
                        <td>EWR</td>
                        <td>Claim Center</td>
                        <td>4</td>
                        <td>Daily</td>
                        <td>None</td>
                        <td>
                          <button type="button"  class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#myModal" (click)="showModal()">
                            <i class="fas fa-plus"></i>
                          </button>
                          <button type="button"  class="btn btn-outline-danger btn-sm"  (click)="deleteModal()" style="margin-left:2%;">
                            <i class="fas fa-minus "></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Create System and Process Impact Details</h4>
                        <button type="button" class="close" (click)="hideModal()">&times;</button>
                      </div>
                
                      <!-- Modal body -->
                      <div class="modal-body">
                          <div class="row">
                              <div class="col-sm-12 col-md-4">
                                <span>Process: </span>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <input class="form-control" type="text" id="processval" name="processval"/> 
                            </div>  
                          </div>
                          <div class="row" style="margin-top:2%;">
                              <div class="col-sm-12 col-md-4">
                                <span>Owner: </span>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <input class="form-control" type="text" id="ownerval" name="ownerval"/> 
                            </div>  
                          </div>
                          <div class="row" style="margin-top:2%;">
                              <div class="col-sm-12 col-md-4">
                                <span>System Invloved: </span>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <input class="form-control" type="text" id="systemval" name="systemval"/> 
                            </div>  
                          </div>
                          <div class="row" style="margin-top:2%;">
                              <div class="col-sm-12 col-md-4">
                                <span>Number of Steps: </span>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <input class="form-control" type="text" id="numofstep" name="numofstep"/> 
                            </div>  
                          </div>
                          <div class="row" style="margin-top:2%;">
                              <div class="col-sm-12 col-md-5">
                                <span>Execution Frequency: </span>
                            </div>
                            <div class="col-sm-12 col-md-4" style="margin-left: -8%;">
                                <select  class="select custom-select-sm form-control form-control-sm ng-untouched ng-pristine ng-valid" formcontrolname="Frequency" name="Frequency" ng-reflect-name="Frequency">
                                  <option  data-display="Select" disabled="" selected="">Select</option><option  value="Daily" ng-reflect-value="Daily">Daily</option>
                                  <option  value="Weekly" ng-reflect-value="Weekly">Weekly</option><option  value="Monthly" ng-reflect-value="Monthly">Monthly</option>
                                </select>
                            </div>  
                          </div>
                          <div class="row" style="margin-top:2%;">
                              <div class="col-sm-12 col-md-4">
                                <span>Upgrade: </span>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <input class="form-control" type="text" id="upgrade" name="upgrade"/> 
                            </div>  
                          </div>
                      </div>
                
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" (click)="sendModal()" >Add</button>
                        <button type="button" class="btn btn-outline-danger" (click)="hideModal()">cancel</button>
                
                        <!-- this button is hidden, used to close from typescript -->
                        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>
                <div class="form-group row">
                  <div class="col-sm-2">
                    <label class="col-form-label">Rule Complexity</label>
                  </div>
                  <div class="col-sm-4">
                    <select class="select custom-select-sm form-control form-control-sm" name="ruleComplexity" formControlName="ruleComplexity">
                      <option data-display="Select" disabled selected>Select</option>
                      <option value="High">High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <label class="col-form-label">Rule Complexity Comments</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="ruleComplexityComments"
                      placeholder="Rule Complexity Comments" formControlName="ruleComplexityComments">
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-sm-2">
                    <label class="col-form-label">Current FTE</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="currentFTE" formControlName="currentFTE" placeholder="Current FTE">
                  </div>
                  <div class="col-sm-2">
                    <label class="col-form-label">Future FTE</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="futureFTE" formControlName="futureFTE" placeholder="Future FTE">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label class="col-form-label">Time Spent Per Day</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="timeSpent" formControlName="timeSpent" placeholder="Time Spent Per Day">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label class="col-form-label">Dependencies</label>
                </div>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" name="dependenciesNew"
                    placeholder="Dependencies" formControlName="dependenciesNew"></textarea>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label class="col-form-label">Current Data State</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="currentDataState" formControlName="currentDataState" placeholder="Current Data State">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label class="col-form-label">Current Daily Volumes</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="currentDV" formControlName="currentDV" placeholder="Current Daily Volumes">
                </div>
                <div class="col-sm-2">
                  <label class="col-form-label">Future Daily Volumes</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="futureDV" formControlName="futureDV" placeholder="Future Daily Volumes">
                </div>
              </div>
              <div class="form-check row">
                <div class="col-sm-2">
                  <input type="checkbox" class="form-check-input" name="StandardizedInputs" formControlName="StandardizedInputs">
                </div>
                <div class="col-sm-2">
                  <label class="form-check-label">Standardized Inputs?</label>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label class="col-form-label">Data Assumptions</label>
                </div>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" name="dataAssumptions"
                    placeholder="Data Assumptions" formControlName="dataAssumptions"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label class="col-form-label">Data Depandencies</label>
                </div>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" name="dataDependencies"
                    placeholder="Data Depandencies" formControlName="dataDependencies"></textarea>
                </div>
              </div>
              <div class="form-group row">
              </div>
              <div class="form-group row">
                <div class="col-sm-0">
                  <button id="saveDraft" type="button" (click)="DraftSave($event)" class="btn btn-primary btn-icon-split" style="margin-right: 20px;">
                    <span class="text">Save as Draft</span>
                  </button>
                </div>
                <div class="col-sm-0">
                  <button id="preview" class="btn btn-primary btn-icon-split" style="margin-right: 20px;">
                    <span class="text">Preview Submission</span>
                  </button>
                </div>
                <div class="col-sm-0">
                  <button id="submitForm" type="submit" class="btn btn-success btn-icon-split" style="margin-right: 20px;">
                    <span class="text">Save</span>
                  </button>
                </div>
                <div class="col-sm-0">
                  <button id="cancel" class="btn btn-danger btn-icon-split" style="margin-right: 20px;">
                    <span class="text">Cancel</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </form>
      </div>
    </div>