<div class="row row-xs mt-2">
  <div class="col-xl-3 col-md-6 mb-4" style="padding:0px 5px 0px 5px">
      <div class="card card-body border-left-primary shadow" >
        <div style="width: 100%;display: inline-block;">
        <div style="width: 90%;float: left;">
          
        <h6 class="tx-uppercase tx-11 tx-spacing-1 text-primary text-uppercase tx-semibold mg-b-8">VALUE DERIVED </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" id="value_derived">{{value_derived}}
          </h3>
          &nbsp;<span style="color:#10B759;">1.2% </span>&nbsp;<i  class="fas fa-arrow-up fa-1x" style="color:#10B759;line-height: 2 !important;"></i>&nbsp;&nbsp;<span style="color:grey;"> than last month</span>
        </div>
        </div>
        <div style="width: 10%;float: left; padding-top: 10px; ">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>  
          </div>
        </div>
          <div class="chart-three">
            <div id="flotChart3" class="flot-chart ht-30"></div>
          </div><!-- chart-three -->
      </div>
      
    </div><!-- col -->
    <div class="col-xl-3 col-md-6 mb-4" style="padding:0px 5px 0px 5px;">
        <div class="card card-body border-left-success shadow">
            <div style="width: 100%;display: inline-block;">
            <div style="width: 90%;float: left;">
                  <h6 class="tx-uppercase tx-11 tx-spacing-1 text-success text-uppercase tx-semibold mg-b-8">PIVOTAL INTERVENTIONS</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1"  id="pivotal_interventions">{{pivotal_interventions}}</h3>
          &nbsp;&nbsp;<span style="color:red;">2% </span>&nbsp;&nbsp;<i  class="fas fa-arrow-down fa-1x" style="color:red;line-height: 2 !important;"></i>&nbsp;&nbsp;<span style="color:grey;"> than last month</span>

        </div>
      </div>
      <div style="width: 10%;float: left; padding-top: 10px; ">
          <i class="fas fa-calendar fa-2x text-gray-300"></i>
      </div>
    </div>
    <div class="chart-three"> 
        <div id="flotChart4" class="flot-chart ht-30"></div>
      </div><!-- chart-three -->
      </div>
    </div><!-- col -->
    <div class="col-xl-3 col-md-6 mb-4"  style="padding:0px 5px 0px 5px;">
        <div class="card card-body border-left-info shadow" >
          <div style="width: 100%;display: inline-block;">
            <div style="width: 90%;float: left;">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 text-info text-uppercase tx-semibold mg-b-8">WORKFLOWS IMPACTED
        </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" id="workflows_impacted">{{workflows_impacted}}</h3>
          &nbsp;&nbsp;<span style="color:red;">0.3% </span>&nbsp;&nbsp;<i  class="fas fa-arrow-down fa-1x" style="color:red;line-height: 2 !important;"></i>&nbsp;&nbsp;<span style="color:grey;"> than last month</span>

        </div>
      </div> 
      <div style="width: 10%;float: left; padding-top: 10px; ">
          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
      </div> 
    </div>
      <div class="chart-three">
          <div id="flotChart6" class="flot-chart ht-30"></div>
        </div><!-- chart-three --> 
      </div>
    </div><!-- col -->
    <div class="col-xl-3 col-md-6 mb-4" style="padding:0px 5px 0px 5px;">
        <div class="card card-body border-left-warning shadow">
          <div  style="width: 100%;display: inline-block;">
            <div style="width: 90%;float: left;">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 text-warning text-uppercase tx-semibold mg-b-8">MODELS DEPLOYED
        </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" id="modals_deployed">{{modals_deployed}}</h3>
          &nbsp;&nbsp;<span style="color:#10B759;">0.8% </span>&nbsp;&nbsp;<i  class="fas fa-arrow-up fa-1x" style="color:#10B759;line-height: 2 !important;"></i>&nbsp;&nbsp;<span style="color:grey;"> than last month</span>

        </div>
      </div>
      <div style="width: 10%;float: left; padding-top: 10px; ">
          <i class="fas fa-comments fa-2x text-gray-300"></i>
      </div>
    </div>
    <div class="chart-three">
        <div id="flotChart5" class="flot-chart ht-30"></div>
      </div><!-- chart-three -->
    </div>
</div>

</div>