/* You can add global styles to this file, and also import other style files */
.content-body{
    padding:65px 0px 0px 0px !important;
}
.navbar-header .navbar-right {
    width: 120px !important;
}
.navbar-menu {
    max-width: 994px !important;
 }
 .navbar-header .navbar-brand {
    width: 100px !important;
 }
 table.dataTable.no-footer {
    border-bottom: 0px !important;
  }
  .border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}
.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}
.text-gray-300 {
    color: #dddfeb!important;
}
span.high-green {
    color: red !important;
}
span.medium-amber {
    color: #FFBF00!important;
}
span.low-red {
    color: green!important;
}

span.low-blue {
    color: blue!important;
}
.breadcrumb-item h4{
    font-size: 16px !important;
}